#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main-content {
  padding-top: 56px; /* o margin-top: 70px; */
}

.text-shadow-black {
  text-shadow: 2px 2px 4px #000, -2px -2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000;
}
.card {
  padding: 2em;
}
body {
  background: linear-gradient(135deg, #f8bbd0 0%, #fff 100%);
  min-height: 100vh;
}
.read-the-docs {
  color: #888;
}
